<h1>Cocktails#index</h1>



<ul class="cocktails">
  <% @cocktails.each do |c| %>
  <li class="cocktail">
    <p class="cocktail-name">
      <%= link_to c.name, cocktail_path(c) %>
      <ul>
        <% c.doses.each do |d| %>
          <li> <%= d.ingredient.name.capitalize %> </li>
        <% end %>
      </ul>
    </p>
  </li>
  <% end %>
</ul>

<%= link_to 'Add Cocktail', new_cocktail_path %>
